# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o
*~

# Application locat files
MDT/venv/
MDT/Inv
MDT/Test/
MDT/TMP/
MDT/Run-C0-anchor-ratio/
MDT/Dump
MDT/Run-shape2D/
MDT/Run-shape3D/
